@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmpresaCadetes.Entidades.Pedidos
<div class="text-center">
    <h1 class="display-4">El Pedido del cliente @Model.NewCliente.Nombre fue  Cargado exitosamente</h1>
    <h2>Que deasea hacer?</h2>
    <br />
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Cadeteria" asp-action="FormularioCadete">Alta de Cadetes</a>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Pedidos" asp-action="FormularioPedido">Alta de Pedidos</a>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Cadeteria" asp-action="Index">Mostrar Cadetes</a>
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Pedidos" asp-action="MostrarPedidos">Mostrar Pedidos</a>
</div>