@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmpresaCadetes.Entidades.Cadeteria
    
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre Cadete</th>
                <th scope="col">Telefono</th>
                <th scope="col">Pedidos en Proceso de entrega</th>
                <th scope="col">Pedidos Entregados</th>
                <th scope="col">Pagar Cadete</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var cadete in Model.MisCadetes)
            {

               
            <tr>
                <th scope="row">@cadete.Id</th>
                <td>@cadete.Nombre</td>
                <td>@cadete.Telefono</td>
                <td>

                    @foreach (var pedido in cadete.Listapedidos)
                    {

                        if (pedido.Estado == "ENVIADO")
                        {
                            
                        <p>N°:@pedido.Numero Cliente:@pedido.NewCliente.Nombre</p><br />  
                           
                        }
                        
                        
                    }

                </td>
                <td>
                   
                    @foreach (var pedido in cadete.Listapedidos)
                    {

                        if (pedido.Estado == "ENTREGADO")
                        {
                            
                          <p>N°=@pedido.Numero//Cliente:@pedido.NewCliente </p>  
                            
                        }
                       
                    }


                </td>
                    <td>
                        <a name="idCadete" asp-route-idCadete="@cadete.Id" asp-action="PagarCadete" asp-controller="Cadeteria" class="btn btn-secondary">PAGAR</a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>