@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmpresaCadetes.Entidades.Cadeteria

    <div class="text-center">
        <h1 class="display-4">Los Veloces Cadeteria</h1>
        <h2>PAGOS REALIZADOS HASTA LA FECHA </h2>

    </div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">FECHA</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">PAGO EN PESOS</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var pago in Model.MisPagos)
        {
        <tr>
            <th scope="row">@pago.Codigo</th>
            <td>@pago.Fecha</td>
            <td>@pago.NombreCadete</td>
            <td>@pago.Valor</td>
        </tr>
        }
    </tbody>
</table>